canvas{
    display: block;
    margin: 50px auto;
    box-shadow: -2px -2px 2px #EFEFEF,5px 5px 5px #B9B9B9;
}
body{
    background-image: url("../img/bgpic.jpg");
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.form-group{
    height: 350px;
    padding: 30px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgba(190, 182, 187, 0.6);
    box-shadow: 0px 0px 2px #888888;
}
.input-tip{
    color: red;
    display: block;
    visibility: hidden;
}
[name=user-login]{
    margin: 15px auto 50px;
}
.register-link{
    font-size: 1.2rem;
}